<div id="photo-uploader" class="upload-overlay hidden">
  <div class="upload-center-wrapper"> 
    <div class="upload-box">
      <h2>Upload Photos</h2>
      <p class="subtitle">This helps us understand your space better.</p>
      
      <div class="drag-area" id="drag-area">
        <input type="file" id="file-upload" class="file-input" accept="image/*" multiple />
        <p>Drag & Drop Photos Here or Click to Select</p>
        <div id="thumbnail-wrapper" class="thumbnail-wrapper"></div>
      </div>

     
      
      <div class="button-row">
        <button id="photo-submit" class="submit-button" title="Submit Photos">
          <svg fill="none" height="24" width="24" stroke-linecap="round" stroke-linejoin="round" stroke-width="3">
            <polyline points="20 6 9 17 4 12" />
          </svg>
        </button>
        
        <button id="photo-skip" class="submit-button skip-button" title="Skip">
          <svg fill="none" height="24" width="24" stroke-linecap="round" stroke-linejoin="round" stroke-width="3">
            <line x1="6" y1="6" x2="18" y2="18"></line>
            <line x1="6" y1="18" x2="18" y2="6"></line>
          </svg>
          
        </button>
      </div>
    </div>
  </div>
</div>



