
:root {
  --primary-color: #D4AF37;
  --secondary-color: #ffffff;
  --accent-color: #C0C0C0;
  --text-color: #000000;
}

body {
  background-color: var(--secondary-color);
  color: var(--text-color);
}
.button-primary {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
